body {
	font-family: Sans-serif;
}

p {
	text-align:justify;
}


table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

th {
	background-color: #003366;
	color: white;
}

h1,h2,h3,h4,h5,h6 {
	color: #003366;
}

h1{
	text-decoration:underline;
}

